body{
    background-color: #1d1d1d;

}
.recomended-list-maindiv{
    width: 90%;
    margin-left: 3%;
    padding: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #565656;
}

.recomended-list-subdiv img{
    width: 100%;
}

.selected-movie-title{
width: 90%;
margin-left: 3%;
      background: linear-gradient(to right, transparent, blue, transparent);
      color: white;
      padding: 5px 0;
}

.recomended-movie-title h2{
width: 90%;
margin-left: 3%;
    color: red;
    padding: 10px 20px;
    font-weight: bold;
}


