<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Selection</title>
    <!-- Add Select2 CSS and JS files -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="text-align: center;">
    <h1 class="page-header">Select your favorite movie we will recomend some similar list for you.</h1>
    <form method="post" class="styled-form">
        <select id="movie" name="movie" class="select2" >
            {% for item in all_movie %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <div style="margin-top: 20px;">
<!--            <input type="submit" value="Submit">-->
            <button class="button-82-pushable" type="submit" role="button">
              <span class="button-82-shadow"></span>
              <span class="button-82-edge"></span>
              <span class="button-82-front text">
                Submit
              </span>

            </button>
        </div>
    </form>
    {% if selected_movie %}
        <div class="selected-movie-title">
            <h1 >Selected Movie : {{ selected_movie }} </h1>
        </div>
    <div class="recomended-movie-title">
                <h2>Recommended Movies</h2>
    </div>
        <div class="recomended-list-maindiv">
            {% for item in recommended_movies %}
                <div class="recomended-list-item">
                    <div class="card">
                        <div class="image-container">
                            <img src="{{ item['poster'] }}" alt="{{ item['name'] }} Poster" />
                            <div class="gradient-overlay"></div>
                        </div>
                        <div class="card-content">
                            <div class="genre-container">
                                {% for genre in item['genres'] %}
                                    <div class="genre-box">{{ genre }}</div>
                                {% endfor %}
                            </div>
                            <div class="card-titel-content">
                                <h4>{{ item['name'] }}</h4>
                                <p class="subtitle">{{ item['tagline'] }}</p>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Initialize Select2 -->
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
</body>
</html>
